.product-item {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 200px;
  margin: 10px;
  border: 3px solid #B88572;
  border-radius: 5px;
}

@media (max-width: 883px) {
  .product-item {
    width: 29%;
  }
}

@media (max-width: 768px) {
  .product-item {
    width: 45%;
  }
}

@media (max-width: 640px) {
  .product-item {
    width: 85%;
  }
}

.product-item h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #2F4858;
  border-bottom: 3px solid #B88572;
  background: rgba(74, 34, 34, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
}

.item-wrapper {
  width: 100%;
  height: 150px;
  background-size: contain;
  background-position: 0 0;
}