.button {
  color: #ba3b0a;
  background-color: #b88572c7;;
  padding: 3px 10px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: rgb(0 0 0 / 25%) 0px 17px 22px, rgb(0 0 0 / 11%) 0px 15px 13px;
  transition: all 0.5s;
}
.button:hover {
  color: #fff4eb;
  background-color: #2f4858;
  cursor: pointer;
}
.product-item {
  position: relative;
}
.item-buttons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
}
