* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff5ee;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.button {
  color: #ba3b0a;
  background-color: #b88572;
  padding: 3px 10px;
  text-align: center;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: rgb(0 0 0 / 25%) 0px 17px 22px, rgb(0 0 0 / 11%) 0px 15px 13px;
}
.button:hover {
  color: #fff4eb;
  background-color: #2f4858;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 30px 10px;
  background-color: #ede9d0;
  background-color: #b88572;

  flex-grow: 0;
  flex-shrink: 0;
}

.header-logo {
  margin-left: 20px;
}

.header-logo__img {
  width: 100px;
  height: 50px;
}

.header-cart__img {
  width: 120px;
  height: 50px;
}

.header-logo__img img,
.header-cart__img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.header-cart__total {
  font-size: 1.2em;
  color: #ede9d0;
}

.header-search__input input {
  appearance: none;
  text-align: center;
  outline: none;
  border: none;
  background-color: #ede9d0;
  border-radius: 3px;
  font-size: 1.1em;
}

.header-search__input input:focus {
  outline: none;
}

.main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-grow: 1;
}

.filters-area {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #ede9d0;
  border-left: 3px solid #b88572;
  border-right: 3px solid #b88572;
}

.filters-area h3 {
  color: #2f4858;
  margin-bottom: 5px;
}

.render-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-right: 3px solid #b88572;
  background-color: #ede9d0;
  width: 70%;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

@media (max-height: 800px) {
  .render-area {
    max-height: 100vh;
    overflow: auto;
  }
}

@media (max-width: 768px) {
  .render-area {
    justify-content: center;
  }
}

.global-filters {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.global-filters,
.category-filter,
.brand-filter,
.price-filter,
.stock-filter {
  border: 2px solid #b88572;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
}

.reset,
.copy-link {
  color: #ba3b0a;
  background-color: #b88572;
  width: 40%;
  padding: 5px 10px;
  text-align: center;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.reset:hover,
.copy-link:hover {
  color: #fff4eb;
  background-color: #2f4858;
  cursor: pointer;
}

.footer {
  display: flex;
  font-weight: bold;
  font-size: 1.2em;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #b88572;
}

.repository a {
  text-decoration: none;
  color: #fff5ee;
}

.repository a:hover {
  cursor: pointer;
  color: #2f4858;
}

.year {
  color: #fff5ee;
}

.rs-school {
  width: 50px;
  height: 30px;
}

.rs-school img {
  max-width: 100%;
}
