@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF5EE;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 30px 10px;
  background-color: #EDE9D0;
  background-color: #B88572;

  flex-grow: 0;
  flex-shrink: 0;
}

.header-logo {
  margin-left: 20px;
}

.header-logo__img {
  width: 100px;
  height: 50px;
}

.header-cart__img {
  position: relative;
  width: 120px;
  height: 50px;
}

.total-item {
  font-size: 20px;
  font-style: italic;
  color: #EDE9D0;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -14px;
  margin-top: -16px;
}

.header-logo__img img,
.header-cart__img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.header-cart__total {
  font-size: 1.2em;
  color: #EDE9D0;
}

.header-search__input {
  display: flex;
  align-items: center;
}

.header-search__input input {
  appearance: none;
  text-align: center;
  outline: none;
  border: none;
  background-color: #EDE9D0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 1.1em;
}

.header-search__input input:focus {
  outline: none;
}

.header-found {
  text-align: center;
  font-size: 1.1em;
  padding: 0 20px;
  color: #2F4858;
  background-color: #EDE9D0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 1px solid #EDE9D0;
}

.header-found span {
  text-align: center;
  width: 40px;
}

.main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-grow: 1;
}

.filters-area {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #EDE9D0;
  border-left: 3px solid #B88572;
  border-right: 3px solid #B88572;
}

.filters-area h3 {
  display: flex;
  align-items: center;
  color: #2F4858;
  margin-bottom: 5px;
}

.filters-area h3 i {
  margin-right: 5px;
}

.render-area {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  border-right: 3px solid #B88572;
  background-color: #EDE9D0;
  width: 70%;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

@media (max-height: 945px) {
  .render-area {
    max-height: 100%;
  }
}

@media (max-width: 768px) {
  .render-area {
    justify-content: center;
  }
}

.global-filters {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.global-filters,
.sort-filters,
.category-filter,
.brand-filter,
.price-filter,
.stock-filter {
  border: 2px solid #B88572;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
}

.reset,
.copy-link {
  color: #BA3B0A;
  background-color: #B88572;
  width: 40%;
  padding: 5px 10px;
  text-align: center;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.reset:hover,
.copy-link:hover {
  color: #FFF4EB;
  background-color: #2F4858;
  cursor: pointer;
}

.sort-filters {
  display: flex;
  justify-content: center;
  height: 52px;
}

.sort-selector {
  background-color: #b88572;
  color: #ede9d0;
  width: 60%;
  border: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
  text-align: center;
  color: #ba3b0a;
  font-size: 1.1em;
  border-radius: 3px;
}

.sort-selector:hover {
  color: #FFF4EB;
  background-color: #2F4858;
  cursor: pointer;
}

.sort-selector option {
  appearance: none;
  background-color: #ede9d0;
  color: #2f4858;
  font-size: 1em;
  font-weight: bold;
}

option span::before {
  content: '<i class="gg-push-up"></i>';
}

.footer {
  display: flex;
  font-size: 1.2em;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #B88572;
}


.repository a {
  text-decoration: none;
  color: #FFF5EE;
}

.repository a:hover {
  cursor: pointer;
  color: #2F4858;
}

.year {
  color: #FFF5EE;
}

.rs-school {
  width: 50px;
  height: 30px;
}

.rs-school img {
  max-width: 100%;
}